<!-- lib -->
{% for file in site.data.lib %}
	{% if file.remote %}
		<script src="{{ file.remote }}" type="text/javascript"></script>
	{% elsif file.local%}
		<script src="{{ file.local |prepend:dirname }}" type="text/javascript"></script>
	{% endif %}
{% endfor %}

<!-- main -->
{% for file in site.data.main %}
	{% if file.remote %}
		<script src="{{ file.remote }}" type="text/javascript"></script>
	{% elsif file.local%}
		<script src="{{ file.local |prepend:dirname }}" type="text/javascript"></script>
	{% endif %}
{% endfor %}